.info_about {
  display: flex;
  flex-direction: column;
  width: calc(40% - 15px);
  flex-shrink: 0;
  height: 100%;
  border-radius: 30px;
  background-image: linear-gradient(to right, rgb(21, 19, 19), rgb(37, 37, 35));

  img {
    max-width: 100%;
    border-radius: 30px;
    margin: 24px;
  }
  h2 {
    display: flex;
    justify-content: center;
    font-size: 26px;
    letter-spacing: -0.52px;
    font-weight: 600;
    line-height: 40px;
    color: #fff;
    margin-bottom: 20px;
    height: 1.55em;
  }
  p {
    color: rgba(188, 188, 188, 0.6);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: -0.16px;
    margin-bottom: 20px;
    height: 1em;
  }

  .info_media {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(white, gray);
    border-radius: 0 0 30px 30px;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
