.input {
  width: 90%;
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.03) 0%,
    rgba(220, 223, 234, 0.01) 100%,
    rgba(255, 255, 255, 0.01) 100%
  );
  border: none;
  height: 54px;
  margin-bottom: 30px;
  margin-left: 20px;
  color: #fff;
  font-size: 18px;
  padding-left: 8px;
}
